doctype html
html(lang='en')
  head
    title Fmedia test
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')

  body
    .title
      .container
        span BrightSmile Veneers
    .product
      .container
        .product__images
        .product__about
          h1 BrightSmile Veneers
          span Вы будете улыбаться ярко!
          p.product__about-description Удобные и практичные виниры по отличной цене! Оформите заказ прямо сейчас и оплатите товар при получении.
          .product__about-review
            .product__about-review-stars
            .product__about-review-comment
            .product__about-review-orders
          .product__about-item
          hr.product__about-line
          .product__about-buy
            .product__about-price
            .product__about-buy-time
            .product__about-buy-count
          a.button(href="javascript:")
            span Купить сейчас
            .product__about-price
    .instruction
      h2 Инструкция по установке
        b BrightSmile
      .instruction__content
        .instruction__image
        .instruction__list
          ul
            li.instruction__list-item
              .instruction__list-item-img
              .instruction__list-item-text
                b 1
                span Поместите виниры в емкость с теплой водой
            li.instruction__list-item
              .instruction__list-item-img
              .instruction__list-item-text
                b 2
                span Поместите виниры в емкость с теплой водой
            li.instruction__list-item
              .instruction__list-item-img
              .instruction__list-item-text
                b 3
                span Поместите виниры в емкость с теплой водой
            li.instruction__list-item
              .instruction__list-item-img
              .instruction__list-item-text
                b 4
                span Поместите виниры в емкость с теплой водой

